.carousel-container {
  position: relative;
  width: 900px;
  max-width: 90%;
  height: 350px;
  margin: 0 auto;
  padding-left: 90px;
  padding-right: 90px;
  overflow: hidden;
  display: flex;
}

.carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 18px;
}

#carousel-previous, #carousel-next {
  position: absolute;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

#carousel-previous {
  left: 12px;
}

#carousel-next {
  right: 12px;
}

