form {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 43px;
  width: fit-content;
  margin: 0 auto;       
}

.field-search-bar {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input[type="number"] {
  width: 70px;
}


